# -*- coding: utf-8 -*-
# vim: ft=jinja
{% set asalae = salt['grains.filter_by']({
    'default': {
        'dist': {
        'url': 'http://ftp.adullact.org/deploiement/a/asalae1.6.0_cakephp1.2.10.zip',
        'hash': 'md5=e7ef0107fd3171c89e60697eeed8797a',
        'url_access': 'rec-centos-6-x64-01.adl-scic.org',
        'mail_domain': 'exemple.com',
        'mail_admin': 'admin@exemple.com',
        },

      'db': {
          'host': '127.0.0.1',
          'database': 'asalae',
          'user': 'asalae',
          'login': 'asalae',
          'password': 'asalae',
          'port': '5432',
        },
    },
}, merge=salt['pillar.get']('asalae:lookup')) %}
